* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: aliceblue;
}

.container {
    /* border: 3px solid red; */
    height: 900px;
}


.navbar {
    /* border: 2px solid black; */
    background-color: white;
    display: flex;
    width: 100%;
}


.navbar img {
    margin: 20px;
}

.navigation {
    display: flex;
    /* border: 1px solid red; */
    width: 300px;
}

.navigation a {
    text-decoration: none;
    margin: auto 10px;
    font-weight: bolder;
    color: orangered;
}




.contact-2 {
    display: flex;
    position: absolute;
    width: 100px;
    height: 40px;
    /* border: 1px solid red; */
    right: 0;
    margin: 15px 30px;
    border-radius: 20px;
    background-color: orangered;

}

.right {
    margin: auto;
    text-decoration: none;
    color: white;
    font-weight: bold;
}



.container-2 {
    width: 950px;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 200px;
    height: 500px;
    display: flex;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(160, 160, 160); 
    border-radius: 10px;
}

/* bagian kiri */


.container-2 .kiri {
    width: 55%;
    height: 80%;
    /* border: 2px solid rebeccapurple; */
    margin: auto;
    box-sizing: border-box;
}

.container-2 .kiri p {
    margin-top: 20px;
    font-weight: 10px;
}


.declaration {
    margin-top: 30px;
    /* border: 1px solid black; */
}

.inner-button {
    display: flex;
    width: 110px;
    height: 30px;
    /* border: 1px solid red; */
    right: 0;
    margin: 15px 30px;
    border-radius: 20px;
    background-color: orangered;
}

.inner-button a {
    color: white;
    font-size: 14px;
}

.innersec {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 10px;
}

.innersec a {
    margin: auto 20px;
    text-decoration: none;
    /* color: black; */
    font-weight: bold;
}



.download {
    height: 30px;
    width: 30px;
    margin-left: -30px;
}

.cv-sec {
    color: black;
}


.sosmed {
    /* border: 1px solid red; */
    margin: 20px;
    
}

.sosmed .img {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.sosmed .img2 {
    height: 32px;
    width: 32px;
}



/* bagian kiri */





/* bagian kanan */
.container-2 .kanan {
    width: 35%;
    height: 80%;
    /* border: 2px solid rebeccapurple; */
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(160, 160, 160);
}




.kanan-atas {
    width: 100%;
    height: 80%;
}
.kanan-bawah {
    width: 100%;
    height: 20%;
    display: flex;
}

.kanan-bawah .nama {
    margin: auto;
}

.kanan-atas img {
width: 100%;
height: 100%;
}

.kanan-bawah p {
    font-size: 10px;
}