* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aliceblue;
}

/* bagian navbar */

.navbar {
  /* border: 2px solid black; */
  background-color: white;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.navbar img {
  margin: 20px;
}

.navigation {
  display: flex;
  /* border: 1px solid red; */
  width: 300px;
}

.navigation a {
  text-decoration: none;
  margin: auto 10px;
  font-weight: bolder;
  color: orangered;
}

.contact-2 {
  display: flex;
  position: absolute;
  width: 100px;
  height: 40px;
  /* border: 1px solid red; */
  right: 0;
  margin: 15px 30px;
  border-radius: 20px;
  background-color: orangered;
}

.right {
  margin: auto;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* bagian navbar */

/* bagian container 1 */

#container {
  width: 600px;
  height: 700px;
  margin: 100px auto;
  box-sizing: border-box;
  background-color: aliceblue;
  /* border: 3px solid red; */
  display: flex;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  /* border: 1px solid black; */
}

.section1 {
  font-weight: bolder;
  margin: 20px 10px;
}

.section1 input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: white;
  margin-top: 5px;
}

.image label {
  font-weight: bolder;
  margin: 20px 10px;
}

.image input {
  width: 100%;
  text-align: center;
  border: none;
}

.checkbox {
    /* border: 1px solid black; */
    display: flex;
}

.checkbox1 {
  /* border: 1px solid red; */
  flex-grow: 1;
  
}

.checkbox2 {
  /* border: 1px solid red; */
  flex-grow: 1;
}




.checkbox label {
  font-weight: bolder;
  margin: 20px 10px;
}



.pemisah {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    height: 50px;
}
.pemisah h4 {
    margin: auto;
}





.button {
    position: relative;
}



.submit-button {
    height: 30px;
    width: 90px;
    right: 0;
    position: absolute;
    right: 20px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 10px;
}






.date {
  /* border: 1px solid red; */
  display: flex;
  width: 300px;
  font-weight: bolder;
  margin: 20px 10px;
}

.sectionDate1 {
  /* border: 1px solid red; */
  flex-grow: 1;
}

.sectionDate2 {
  /* border: 1px solid red; */
  flex-grow: 1;
}

.date input{
  border-radius: 10px;
  padding: 5px;
  background: none;
  border: none;
  background-color: white;

}
/* bagian container 1 */


/* bagian container 2 */



#container2 {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  

}
